body {
  background-color: royalblue;
  margin: 0; /*remove the annoying margin added by the browser */
  height: 100vh; /*set the height to match the viewport height */
  display: flex;
  flex-direction: column; /*make sure the footer sits below the content */
  justify-content: center; /*center the contents vertically */
}

/* #mainDiv {
  background-color: royalblue;
  width: 100%;
  height: 600px;
  border: red 2px solid;
} */

#mainDiv > #appDiv {
  width: 400px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
}

#mainDiv > #appDiv > #quizHeader {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  background-color: purple;
}

#mainDiv > #appDiv > #quizHeader > h2 {
  font-size: 28px;
  text-align: center;
  margin: auto;
  color: white;
}

#mainDiv > #appDiv > #quizSubHeader {
  width: 75%;
  margin: 5px auto;
}

#mainDiv > #appDiv > #quizSubHeader > #questionCount {
  color: red;
}

#mainDiv > #appDiv > #quizQuestion {
  width: 75%;
  margin: 0 auto;
  font-size: 24px;
}

#mainDiv > #appDiv > #quizOptions {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#mainDiv > #appDiv > #quizOptions > button {
  display: block;
  width: 95%;
  text-align: left;
  margin: 7px;
  font-size: 20px;
}

#mainDiv > #appDiv > #quizOptions > button:hover {
  background-color: purple;
  color: white;
}

#mainDiv > #appDiv > #footer {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  height: 20px;
  text-align: center;
}
