#mainContainer {
  width: 460px;
  /* border: #ff4500 2px solid; */
  margin: auto;
  background-color: royalblue;
  padding: 15px;
}

#mainContainer > #appHeader {
  color: white;
  text-align: center;
  font-size: larger;
  margin: 0 auto;
  padding: 2px;
}

#mainContainer > #counter {
  color: red;
  font-size: 24px;
  text-align: center;
  margin: auto;
}

main div hr {
  width: 90%;
  margin: 15px auto;
}

#mainContainer > #ctrlBtn {
  text-align: center;
  margin: 10px;
}

#mainContainer > #ctrlBtn > #subtractBtn,
#mainContainer > #ctrlBtn > #resetBtn,
#mainContainer > #ctrlBtn > #addBtn {
  margin: auto;
  color: #ff4500;
  width: 25%;
  height: 35px;
}
